extends layout 

block content

	h1 Programs Dashboard
	form(action="/newProgram")
		button(type="submit", value="newProgram" )= "Create New Program"

	table.table.table-bordered

		tr
			th
				h4 Program Name: 
			th
				h4 Created By: 
			th
				h4 Venue: 
			th
				h4 Capacity:

		
		each program in programs

			form(method="GET" action="/manageProgram/"+program.id)
				tr
					td
						button= program.programName
					td
						h5= program.creatorName
					td
						h5= program.venue 
					td
						h5= program.capacity + " " + "People"
