html
	head
		title showPrograms
	body
		// put interpolation
		each program in programs
			h1= program.programName
			h2= program.creatorname
			p= program.venue
			p= program.capacity
			p= program.description




			


